// Colors
$pd: #512DA8
$pm: #673AB7
$pl: #D1C4E9
$wl: #FFFFFF
$wm: #F5F5F5
$wd: #EEEEEE
$ac: #FF4081
$bl: #414141
$gl: #BDBDBD
$gm: #757575
$gd: #666666

// Media
$tablet: "(min-width: 800px)"
$laptop: "(min-width: 1280px)"
$hdtv: "(min-width: 1440px)"

h1, h2, h3, h4, h5, h6, p
    margin: 0
    padding: 0
